:root {
    --text-color-dark: #ccc; /* 深色模式下的文本颜色 */
    --text-color-light: #333; /* 浅色模式下的文本颜色 */
    --time-color-dark: #ccc;
    --time-color-light: #000;
}
#workboard {
    position: relative; /* 让它相对自身调整 */
    top: -10px; /* 向上移动 10px，数值可以自己调整 */
    text-align: center; /* 居中对齐 */
    font-size: 14px; /* 适当调整字体大小 */
    line-height: 1.6; /* 调整行高 */
    color: var(--text-color-light)
}

.textTip {
    display: block; /* 让文本独立一行 */
    margin-bottom: 3px; /* 让它更紧凑 */
    margin-bottom: 5px; /* 在文字和时间之间增加间距 */
    font-weight: bold; /* 加粗，让天数更醒目 */
    color: var(--text-color-light)
}
#runtime {
    display: block; /* 强制换行 */
    font-size: 14px; /* 时间部分的字体稍小 */
    color: var(--text-color-light);
    font-weight: bold;
}
#runtime i {
    margin-left: 5px; /* 让 ❤️ 图标和时间保持一定间距 */
}
@media (prefers-color-scheme: dark) {
    #workboard {
        color: var(--text-color-dark);
    }
    .textTip {
        color: var(--text-color-dark);
    }
    #runtime {
        color: var(--time-color-dark);
    }
}
